
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1474685609'); /* IE9*/
  src: url('iconfont.eot?t=1474685609#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1474685609') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1474685609') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1474685609#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-yanzhengma:before { content: "\e650"; }
.icon-tuichudenglu:before { content: "\e64f"; }
.icon-pinglun11:before { content: "\e64c"; }
.icon-shouji:before { content: "\e641"; }
.icon-durgstorelabeltraditionaldoctor2x:before { content: "\e607"; }
.icon-olvideo2x:before { content: "\e608"; }
.icon-bodylittleicio2x:before { content: "\e60a"; }
.icon-olphone2x:before { content: "\e617"; }
.icon-boylikzan2x:before { content: "\e633"; }
.icon-minebodysiteshouhuo2x:before { content: "\e630"; }
.icon-iconfontxiangxia:before { content: "\e63b"; }
.icon-navbaradd2x:before { content: "\e615"; }
