body{
	background: url(../images/banner_bg60.jpg) no-repeat 0 0;
	background-size: 100% 400px;
}
[ng-cloak]{
	display: none;
}
/* 	header	*/
	header nav {
        background: #000;
        height: auto;
        margin: 20px auto;
        min-height: 50px;
        position: relative;
        width: 90%;
    }
	header nav ul, header ul li {
        display: inline-block;
        list-style: none;
        padding: 0 10px;
    }
    
    header a:link,
    header a:visited {
        color: #999;
        text-decoration: none;
    }
    
    header a:hover,
    header a:active {
        color: #fff;
        text-decoration: none;
    }
/*	menu-toggle	*/
.menu-toggle{
	background-color: inherit;
	border: 0;
	cursor: pointer;
	display: none;
	height: 25px;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 25px;
	z-index: 10;
}
.menu-toggle span{
	background-color: #81c483;
	display: block;
	font-size: 0px;
	height: 2px;
	left: 0;
	position: absolute;
	top: 50%;
	user-select: none;
	width: 100%;
}
.menu-toggle span:before, .menu-toggle span:after {
	background-color: #81c483;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}
.menu-toggle span:before {
	transform: translateY(-7px);
}
.menu-toggle span:after { 
	transform: translateY(7px);
}
.banner .slogan, .banner .logo{
	text-align: center;
}
.slogan img{
	height: auto;
	width: 65%;
}
/*	fonter 	*/
footer{
	border-top: 1px solid green;
	margin-top: 70px;
}
footer ul li{
	list-style: none;
	margin: 10px auto 10px -30px;
}
footer h2{
	color: #569918;
}
.right-block{
	display: inline-block;
	margin: 20px 20px 0;
	text-align: center;
	width: 200px;
}
.right-block span{
	line-height: 50px;
	text-align: center;
}
.right-block:last-child{
	width: 100px;
}
footer .left{
	float: left;
}
footer .right{
	float: right;
}
footer .footer{
	clear: both;
	padding-top: 20px;
	text-align: center;
}
/*  cities  */
.cities{
	clear: both;
	height: auto;
	margin-bottom: 70px;
	margin-top: 80px;
	width: 90%;
}
.cities ul{
	margin-left: -42px;
	margin-top: 20px;
}
.cities h2{
	color: #569918;
}
.bottom ul li{
	display: inline-block;
	font-size: 18px;
	list-style: none;
	padding-right: 40px;
}
.cities .letter{
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}
@media screen and (max-width: 600px){
	body{
		background-size: 100% 350px;
	}
	.cities{
		margin-top: 100px;
	}
	.menu-toggle{
		display: inline-block;
	}
	header nav ul{
		display: none;
	}
	nav ul.show{
		display: block;
    	position: absolute;
    	background: #000;
        width: 100%;
        height: auto;
        padding-bottom: 4px;
	}
	nav ul.show li{
    	display: block;
        line-height: 2;
    }
    header ul li:hover{
    	background-color: rgba(182,244,11,.8);
    }
}