<div class="cities">
    <div class="hot">
        <h2>热门城市:</h2>
        <div class="bottom">
            <ul>
                <li ng-repeat="city in hotCities track by $index"><a href="" ui-sref="city({city: city})">{{city}}</a></li>
            </ul>
        </div>
    </div>
    <div class="all">
        <h2>全部城市:</h2>
        <div class="bottom">
            <ul>
                <!-- <li class="list" ng-repeat="city in AllCities track by $index"><a href="" ui-sref="city({city: city})">{{city}}</a></li> -->
            </ul>
        </div>
    </div>
</div>
